[ ca ]
default_ca	= CA_default		# The default ca section

[ CA_default ]
dir		= .			# Where everything is kept
certs		= $dir		        # Where the issued certs are kept
crl_dir		= $dir			# Where the issued crl are kept
database	= $dir/index.txt		# database index file.
unique_subject	= no			# several ctificates with same subject.
new_certs_dir	= $dir			# default place for new certs.

certificate	= $certs/ca-root.crt	# The CA certificate
private_key	= $certs/ca-key.pem	# The private key
RANDFILE	= $dir/.rnd		# private random number file
serial        = $dir/.serial

x509_extensions	= v3			# The extentions to add to the cert
copy_extensions	= copy

name_opt	= ca_default		# Subject Name options
cert_opt	= ca_default		# Certificate field options

default_days	= 3650			# how long to certify for
default_crl_days= 30			# how long before next CRL
default_md	= sha256		# use public key default MD
preserve	= no			# keep passed DN ordering

policy		= policy_match

[ policy_match ]
countryName		= supplied
stateOrProvinceName	= optional
organizationName	= supplied
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

[ req ]
default_bits        = 4096 
default_keyfile     = privkey.pem 
distinguished_name  = req_distinguished_name
x509_extensions         = v3

[req_distinguished_name]
countryName			= Country Name (2 letter code)
countryName_default		= DE
countryName_min			= 2
countryName_max			= 2

stateOrProvinceName		= State or Province Name (full name)
stateOrProvinceName_default	= NRW

localityName			= Locality Name (eg, city)
localityName_default		= Essen

0.organizationName		= Organization Name (eg, company)
0.organizationName_default	= Smarthome

# we can do this but it is not needed normally :-)
#1.organizationName		= Second Organization Name (eg, company)
#1.organizationName_default	= World Wide Web Pty Ltd

organizationalUnitName		= Organizational Unit Name (eg, section)
organizationalUnitName_default	= Application Server

commonName			= Common Name (e.g. server FQDN or YOUR name)
commonName_default = Application Server
commonName_max			= 64

emailAddress			= Email Address
emailAddress_max		= 64
emailAddress_default = jan.bellenberg@outlook.de

[ v3 ]
basicConstraints        = CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid, issuer
keyUsage                = digitalSignature
extendedKeyUsage        = serverAuth
subjectAltName          = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = janbellenberg
DNS.3 = LAPTOP-G9RT5HK6
IP.1 = 127.0.0.1
IP.2 = 192.168.178.23
IP.3 = 192.168.178.21
IP.4 = 172.24.144.22